{% extends "base.html" %}

{% block content %}
		<div class="d-flex flex-column pb-3">
			<form action="{% url 'usuarios:register' %}" class="" method="post">
				{% csrf_token %}
				{{ form.as_p }}
				
				
				{% for field in registration_form %}
				<p>
				{% for error in field.errors %}
				<p style="color: red">{{ error }}</p>
				{% endfor %}
				</p>
				{% endfor %}
				{% if registration_form.non_field_errors %}
				<div style="color: red">
					<p>{{registration_form.non_field_errors}}</p>
				</div>

				{% endif %}

				<button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
				<a href="{% url 'core:home' %}" class="btn btn-lg btn-danger btn-block" type="submit">Cancelar</a>


		
			</form>


{% endblock %}


