<div id="sidebar" class="bg-secondary text-white p-3" style="width: 200px">
  <h5>Menú</h5>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a
        class="nav-link text-white"
        data-bs-toggle="collapse"
        href="#submenuIngresos"
        role="button"
        aria-expanded="false"
        aria-controls="submenuIngresos"
      >
        Ingresos
      </a>
      <ul class="collapse list-unstyled ps-3" id="submenuIngresos">
        <li>
          <a class="nav-link text-white" href="{% url 'ingresos' %}"
            >Ingresos</a
          >
        </li>
        <li>
          <a class="nav-link text-white" href="{% url 'ingresos_historial' %}"
            >Historial de Ingresos</a
          >
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'stock' %}">Stock</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Ordenes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Revisados</a>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown">Despachos</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Revisados</a></li>
        <li><a class="dropdown-item" href="#">Nuevos</a></li>
        <li><a class="dropdown-item" href="#">Averías</a></li>
        <li><a class="dropdown-item" href="#">Destrucción</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Reportes</a>
    </li>
  </ul>
</div>
