<div id="sidebar" class="bg-secondary text-white p-3" style="width: 200px">
  <h5>Menú</h5>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a
        class="nav-link text-white d-flex justify-content-between align-items-center"
        data-bs-toggle="collapse"
        href="#submenuIngresos"
        role="button"
        aria-expanded="false"
        aria-controls="submenuIngresos"
      >
        Ingresos
        <span class="ms-auto">&#9662;</span>
        </a>
      <ul class="collapse list-unstyled ps-3" id="submenuIngresos">
        <li>
          <a class="nav-link text-white" href="{% url 'ingresos' %}"
            >Ingresos</a
          >
        </li>
        <li>
          <a class="nav-link text-white" href="{% url 'ingresos_historial' %}"
            >Historial de Ingresos</a
          >
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'stock' %}">Stock</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'ordenes_pendientes' %}"
        >Ordenes</a
      >
    </li>
       <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'ordenes_activas' %}"
        >Ordenes Activas</a
      >
    </li>

   <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'despachos:ordenes_revisadas' %}">Revisados</a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link text-white d-flex justify-content-between align-items-center"
        data-bs-toggle="collapse"
        href="#submenuDespachos"
        role="button"
        aria-expanded="false"
        aria-controls="submenuDespachos"
      >
        Despachos
        <span class="ms-auto">&#9662;</span>
        </a>
      <ul class="collapse list-unstyled ps-3" id="submenuDespachos">
        <li><a class="nav-link text-white" href="{% url 'despachos:ordenes_nuevas' %}">Nuevos</a></li>
        <li><a class="nav-link text-white" href="{% url 'despachos:ordenes_averiadas' %}">Averías</a></li>
        <li><a class="nav-link text-white" href="{% url 'despachos:ordenes_destruccion' %}">Destrucción</a></li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" href="#">Reportes</a>
    </li>
  </ul>
</div>