{% extends "base.html" %}

{% block title %}Remitos{% endblock %}

{% block content %}
<h2>Formulario de Remito</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {{ formset.management_form }}

    <table id="productosTable">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for form in formset %}
                <tr class="producto-form">
                    <td>{{ form.producto_id }}{{ form.id }}</td>
                    <td>{{ form.cantidad }}</td>
                    <td>
                        {% if form.instance.pk %}
                            {{ form.DELETE }}
                        {% else %}
                           <button class="btn btn-danger" type="button" class="remove-row">Eliminar</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="my-2">
        <button class="btn btn-primary" type="button" id="addRow">Agregar Producto</button>
        <button class="btn btn-success" type="submit">Guardar</button>
    </div>

</form>
{% endblock %}