{% extends "base.html" %}
{% block content %}
<h2>Lista de Remitos</h2>
    
<a class="btn btn-primary" href="{% url 'crear_remito' %}">Nuevo Remito</a>

<table class="ingresos-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Número Remito</th>
                <th>Número viaje</th>
                <th>Detalle de transporte</th>
                <th>Depósito</th>
                <th>Fecha de ingreso</th>
                <th>Usuario</th>
                <!-- <th>Aprobado</th> -->
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for remito in remitos %}
            <tr>
                <td>{{ forloop.counter }}</td> <!-- Shows 1, 2, 3, etc. -->
                <td>{{ remito.numero_remito }}</td>
                <td>{{ remito.numero_viaje }}</td>
                <td>{{ remito.detalle_transporte }}</td>
                <td>{{ remito.deposito_id }}</td>
                <td>{{ remito.fecha_ingreso }}</td>
                <td>{{ remito.usuario.nombre }}</td>
                <!-- <td>{{ remito.aprobado }}</td> -->
                <td>
                    <a href="{% url 'editar_remito' remito.pk %}"><span class="badge bg-warning mx-2">Editar</span></a>
                    <a href="{% url 'eliminar_remito' remito.pk %}"><span class="badge bg-danger mx-2">Eliminar</span></a>
                    {% if not remito.aprobado %}
                        <a href="{% url 'aprobar_remito' remito.pk %}"><span class="badge bg-success mx-2">Aprobar</span></a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No data available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}