{% load static %}
<header class="header-logo">
    <div class="logo-container d-flex">
        <img class="img-logo" src="{% static 'img/enigma_img.jpg' %}" alt="LOGO DE RUBIC ENIGMA">
        <h1 class="titulo-logo">ENIGMA</h1>
    </div>
    <div class="login-container d-flex flex-column align-items-center mx-3">
        {% if show_navbar %}
        <p  class="m-0">Bienvenido, {{ request.session.usuario }}</p>
        <p class="m-0"><a href="{% url 'Logout' %}">Cerrar sesión</a></p>
        {% endif %}
    </div>
</header>