<div id="sidebar" class="bg-secondary text-white p-3" style="width: 200px;">
    <h5>Menú</h5>
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link text-white" href="#">Ingresos</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">Stock</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">Ordenes</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">Revisados</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">Reportes</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">Despachos</a></li>
    </ul>
</div>
